body {
	background-color: #8EC1DA;
}

.clear-both {
	clear: both;
}

.nav-own>li>a {
	padding: 0px 15px;
}

.nav-own>li.active>a, .nav-own>li.active>a:focus, .nav-own>li.active>a:hover {
  background-color: #000000;
}