<div class="col-md-3">
	<div class="row">
		<div class="panel panel-info">
		  <div class="panel-heading">
		    <div class="col-md-2">
		    	<img class="top-timeline-tweet-box-user-image avatar size32" src="https://pbs.twimg.com/profile_images/2466767557/Capture_normal.PNG" alt="">
		    </div>
		    <div class="col-md-10">
				<form action="/tweet/new" method="POST" class="form-herizatal form">
					<div class="form-group">
						<textarea class="form-control" name="content"></textarea>
					</div>
					<input type="submit" value="Tweet" class="btn btn-success">
				</form>
		    </div>
		    <div class="clear-both"></div>
		  </div>
		  <div class="panel-body">
		    
		  	<div class="media">
			  <div class="media-left media-middle">
			    <a href="#">
			      <!-- <img class="media-object" src="..." alt="..."> -->
			      <img class="media-object" src="https://pbs.twimg.com/profile_images/2466767557/Capture_normal.PNG" alt="">
			    </a>
			  </div>
			  <div class="media-body">
			    <h4 class="media-heading">Facker</h4>
			    <p>If you tell me the truth, I'm gonna be mad but ill get over it. If you lie to me I'm never gonna be able to trust you again. Your choice!</p>

			  </div>
			</div>

		  </div>
		</div>
	</div>
</div>