
<h1>Your Profile</h1>

<!-- this is the form that renders fields and so that a user can update or delete -->



<form action="/profile" method="put" name="<%=@user.name%>"><br>
	  <input type'hidden' 	name='method' value='delete'><br>
	  <input type="text"    name= 'name' placeholder="<%=@user.name%>"><br>
	  <input type="text"    name= 'email' placeholder="<%=@user.email%>"><br>
	  <input type="submit"  name="Update Profile"<br> 
</form>

<!-- Need a delete button  -->










