<body>
  <div class='container'>
  <h1>Sign in</h1>
  <form action="/signin" method='post'>
    <input type="text" name="email" placeholder="Email Address">
    <br>
    <input type="text" name="password" placeholder="Password">
    <br>
    <input type="submit" value="Login">
  </form>
  </div>
</body>
