<div class='container'>
<form action="/signup" method='post'>
  <input type="text" name="handle" placeholder="Choose Your Handle">
  <input type="text" name="email" placeholder="Email Address">
  <br>
  <input type="text" name="password" placeholder="Password">
  <input type="text" name="password_confirmation" placeholder="Confirm Your Password">
  <br>
  <input type="submit" value="Sign up">
</form>
</div>
