
<h1>Update Your Profile<h1/>

<form action="/update_profile" method="put" name="#{@user.name}">
	  <input type="text"    name="{@user.email}"><br>
	  <input type="text"    name="#{@user.username}"><br>
	  <input type="text"    name="#{@user.password}"><br>
	  <input type="text"    name="#{@user.name}"><br>
	  <input type="submit"  name="Update Profile"><br>
</form>



